<% commentable.comments.order(created_at: :desc).each do |comment| %>
<%if comment.user.name.present?%>
   <p>
      <strong><%= Comment.human_attribute_name(:name) %>:</strong>
      <%= comment.user.name %>
   </p>
<%else%>
   <p>
      <strong><%= User.human_attribute_name(:email) %>:</strong>
      <%= comment.user.email %>
   </p>
<%end%>
<p>
   <strong><%= Comment.human_attribute_name(:created_date) %>:</strong>
   <%= l(comment.created_at.to_date, format: :long) %>
</p>
<p>
   <strong><%= Comment.human_attribute_name(:body) %>:</strong>
   <%= comment.body %>
</p>

<%end%>
<% unless commentable.comments.present? %>
   <%= Comment.human_attribute_name(:nothing)%>
<%end%>
