<h1><%= @user.email %><%= t('infomation')%></h1>

<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.postal_code %></p>
<p><%= @user.address %></p>
<p><%= @user.self_introduction %></p>
<p>aaa</p>

<p><%= link_to 'index', users_index_path%></p>
